body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 400px;
    padding-right: 400px;
}

.logo {
    font-size: 25px;
    font-weight: 20pt;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 700px;
    font-weight: 1000;
    font-size: 35px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 700px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 600px;
    height: 300px;
}

.info-header {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.info-text {
    font-size: 18px;
    color: #fef9f9;
}


button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #000000;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #f9faf8;
}

.cards-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 38px;
    font-weight: 1000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 10px;
}

.card-text {
    width: 150px;
    text-align: center;
    padding: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 350px;
    background-color: #e5e7eb;
    gap: 15px;
}

.q-text {
    font-size: 40px;
    text-align: start;
    width: 50%;
    font-weight: 100;
}

.q-credit {
    padding-left: 17%;
    font-size: 36px;
    font-weight: 900;
}

.lower-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    flex-basis: 350px;
}

.l-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    height: 100px;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.d-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description-header {
    font-size: 36px;
    font-weight: 800;
    color: #fef9f9;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    display: flex;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
  }

button a:link {
    color: #f9faf8;
}


ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }


.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 400px;
    padding-right: 400px;
}

/*read about flex-basis*/

.placeholder {
    height: 300px;
    width: 600px;
    background-color: #e5e7eb;
}

body > .header {
    flex: .05
}

body > .footer {
    flex: .05
}

body > .middle-section {
    flex: .225
}

body > .placeholder {
    flex: .225
}

body > .info {
    flex: .225
}

body > .cards-template {
    flex: .225
}